.profile-header {
  background-color: gainsboro;
  padding: 1.5rem;
  border-radius: 1rem;
}

.profile-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* ------------------------- */
