<div class="app-login">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <h2>Login</h2>

    <a routerLink="/register">Need an account?</a>

    <div class="form-group">
      <input
        type="email"
        placeholder="Enter your email ..."
        class="form-control"
        ngModel
        name="email"
        required
        email
      />
    </div>

    <div class="form-group">
      <input
        type="password"
        placeholder="Enter your password ..."
        class="form-control"
        ngModel
        name="password"
        required
      />
    </div>

    <div class="button">
      <button
        class="btn btn-success"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        Sign in
      </button>
    </div>
  </form>
</div>
