<div class="comment-article">
  <div class="comment-box form-group mb-3 mt-2 p-4" *ngIf="currentUser">
    <form [formGroup]="commentForm" autocomplete="off" (ngSubmit)="onSubmitComment()">
      <textarea
        type="text"
        class="form-control mb-3"
        formControlName="comment"
        name="comment"
        placeholder="Enter your comment ..."
        rows="3"
      ></textarea>

      <div class="group-button d-flex justify-content-between">
        <a [routerLink]="['/profile', currentUser.username]"
          ><img
            [src]="currentUser.image"
            alt=""
            class="avatar"
            (error)="changeSource($event)"
        /></a>
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="commentForm.invalid"
        >
          <i class="fas fa-plus-circle"></i> Create Comment
        </button>
      </div>
    </form>
  </div>
  <app-loading *ngIf="!isLoaded"></app-loading>
  <div class="comment-list" *ngIf="isLoaded">
    <app-comment-detail
      *ngFor="let comment of commentList"
      [comment]="comment"
      [isUser]="isUser"
      [currentUser]="currentUser"
    ></app-comment-detail>
  </div>
</div>
