ul {
    padding: 0;
  }
  
  .tag-link {
    cursor: pointer;
    list-style: none;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 10px;
  }
  .a-block:before{
    background-color: black;
    position: absolute;
    content: '';
    z-index: 1;
    opacity:0.3;
    transition: .3s all ease;

  }